body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background: #171a1a;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 40px 40px 0 40px;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #cb3541;
}

.fontawesome {
  font-size: 40px;
  padding: 0 10px;
  color: #cb3541;
}

.personal__data{
    color: #cb3541;
}

.personal__data>h1 {
  font-weight: 400;
}

.contacts {
  display: grid;
  grid-template-rows: min-content;
  justify-content: end;
}

.icons {
  margin-block-start: 24.12px;
  margin-block-end: 8px;
  display: grid;
  justify-content: end;
  text-align: end;
  height: 45px;
}

.titles {
  color: #cb3541;
  font-size: 30px;
  margin: 20px 0;
  font-weight: 400;
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.info__container {
  display: grid;
  grid-template-columns: 20% 75%;
  column-gap: 5%;
  margin: 40px 0;
}

.info__main {
  font-size: 25px;
  text-align: left;
}

.info__name {
  display: grid;
  align-content: center;
}

.profile{
    display: grid;
    width: 100%;
    justify-content: center;
}
.profile__grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.about__text {
  width: 80%;
}
.left {
  text-align: left;
}
.profile__avatar {
  height: 300px;
}

.about__me {
  position: relative;
  right: 0;
  padding: 2%;
  color: white;
  margin-top: 50px;
}

.white {
  color: white;
}

.about__me--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  color: white;
  margin-top: 50px;
}

.about__me--rows {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;
}

.about__me--child {
  padding-top: 20px;
  backdrop-filter: blur(2px);
  background: #3535351f;
  display: grid;
  grid-template-rows: 70px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.icon{
    font-size: 50px;
    color: #cb3541;
    text-align: center;
    margin: 5px;
    align-content: center;
    display: grid;
}

.ul__subtitle{
    text-transform: uppercase;
    color: #cb3541;
}

.about__me--title{
    color: white;
    font-weight: 300;
}

.info__description{
  padding: 10px;
  border-left: #cb3541 2px solid;
}

@media screen and (max-width: 600px) {
    .about__me--grid{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .profile__grid {
      padding-top: unset;
      grid-template-columns: 1fr;
    }
    .about__text {
      width: unset;
      padding: 0 40px;
    }

    .left {
      padding: 0 40px;
    }

    .heading{
        grid-template-columns: 1fr;
    }

    .contacts{
        justify-content: start;
    }

    .icons{
        justify-content: flex-start;
        text-align: start;
    }

    .fontawesome{
        padding: 0 10px 0 0;
    }

    .info__container{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}