body {
  font-family: "Livvic", sans-serif;
  font-size: 18px;
  color: white;
  background: #28272d;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 40px 0 40px;
}

.gradient{
  background: linear-gradient(#5a5a5c, #28272d);
}
.heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #cb3541;
}

.fontawesome {
  font-size: 40px;
  padding: 0 10px;
  color: #cb3541;
}

.personal__data{
    color: #cb3541;
}

.contacts {
  display: grid;
  grid-template-rows: min-content;
  justify-content: end;
}

.icons {
  margin-block-start: 24.12px;
  margin-block-end: 8px;
  display: grid;
  justify-content: end;
  text-align: end;
  height: 45px;
}

.titles {
  color: #cb3541;
  font-size: 30px;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.info__container {
  display: grid;
  grid-template-columns: 20% 75%;
  column-gap: 5%;
  margin: 40px 0;
}

.info__main {
  font-size: 25px;
  text-align: left;
}


.profile{
    display: grid;
    width: 100%;
    justify-content: center;
}
.profile__avatar {
  height: 300px;
}

.about__me {
  position: relative;
  right: 0;
  padding: 2%;
  color: white;
  margin-top: 50px;
}

.white {
  color: white;
}

.about__me--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  color: white;
  margin-top: 50px;
}

.about__me--child {
  background: #5a5a5c1f;
  display: grid;
  grid-template-rows: 70px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.icon{
    font-size: 50px;
    color: #cb3541;
    text-align: center;
    margin: 5px;
    align-content: center;
    display: grid;
}

.ul__subtitle{
    text-transform: uppercase;
    color: #cb3541;
}

.about__me--title{
    color: white;
}

.info__description{
  padding: 10px;
  border-left: #cb3541 2px solid;
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    .about__me--grid{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .heading{
        grid-template-columns: 1fr;
    }

    .contacts{
        justify-content: start;
    }

    .icons{
        justify-content: flex-start;
    }

    .fontawesome{
        padding: 0 10px 0 0;
    }

    .info__container{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}